# Python
__pycache__/
*.pyc
*.egg-info

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
*.log

# ===== Project-specific =====

# Dataset — quá nặng, không push
datasets/dataset/
datasets/landmarks/
datasets/processed/

# Model weights - chỉ push mediapipe tasks
models/*.keras
models/*.h5
models/*.pt
models/*.pth
models/*.pkl
models/*.json

# Giữ mediapipe tasks
!models/mediapipe/
cnn_lstm_history.json
loc.txt
uv.lock
.png