# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Dataset
datasets/raw/

# Models
models/*.pt
models/*.pth

# OS
.DS_Store
# Video và landmark — quá nặng
datasets/Videos/
datasets/landmarks/

# Model weights khác
models/*.h5
models/*.keras
models/*.pkl
datasets/processed/

*.log

*.egg-info

datasets/dataset/
