av==15.1.0
numpy==1.26.4
python-dotenv>=0.9.9
matplotlib>=3.9.0
mediapipe==0.10.14
opencv-python-headless==4.10.0.84
pandas>=2.3.3
scikit-learn>=1.7.2
scipy>=1.15.3
tensorflow-cpu==2.16.1; sys_platform != 'win32'
tensorflow-intel==2.16.1; sys_platform == 'win32'
streamlit>=1.45.1
streamlit-webrtc==0.72.1
tqdm>=4.67.3
